@import "./var";

  .chat-main{
    float: left;
    width: calc(100% - 300px);
    height: 100%;

    &__chat-header{
      height: 100px;
      padding: 0 40px;
      border-bottom: solid 1px $chat_devide_line;

        &__group-info{
          float: left;

          &__current-group{
            font-size: 20px;
            color: #333;
            margin-top: 35px;
            margin-bottom: 15px;
          }

          &__current-group-members{
            font-size: 12px;
            color: $weak_color;
          }
        }
        &__edit-btn{
            float: right;
            display: block;
            margin-top: 28px;
            line-height: 40px;
            padding: 0 20px;
            border: solid 1px $chat_devide_line;
            color: $message_background_color;
        }
    }
    &__chat-message-area{
      background-color: #f2f2f2;
      height: calc(100% - 186px);
      padding: 0 40px;
      width: 900px;

      &__message-section{
        &__one-list{
          &__head{
            margin-bottom: 10px;
            &__user-name{
              float: left;
              margin-right: 10px;
              text-align: center;
              font:{
                size: 16px;
                weight: bold;
                color: $post-color;
              }
            }

            &__date{
              line-height: 24px;
              font:{
                size: 12px;
                color: $message_background_color;
              }
            }
          }

          &__message{
            margin-bottom: 40px;
            font:{
              size: 14px;
              color: $post-color;
            }
          }
        }
      }
    }

    &__footer{
      background-color: #ddd;
      padding: 20px 40px;
      width: 900px;

      &--clearfix:after{
        content: "";
        display: block;
        clear: both;
      }
      &__input-form{
        box-sizing: border-box;
        &__textarea{
          float: left;
          width: calc(100% - 125px);
          height: 45px;
          border: none;
          padding: 0 10px;
          box-sizing: border-box;
          line-height: 50px;
        }
        &__send-btn{
          float: left;
          background-color: $message_background_color;
          margin-left: 15px;
          padding: 10px 25px;
          text-align: center;
          border: none;
          color: white;
        }
      }
    }
}



